<footer class="cine-piePagina">
    <div class="piePagina-contacto">
        <h2>Contacto y Soporte</h2>
        <h3>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</h3>
        <a href="https://wa.me/51998164722" target="_blank">Telefono: <strong>+51 998 164 722</strong></a>
        <a href="https://wa.me/51998164722" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/124/124034.png" alt="WhatsApp" width="30" height="30"></a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="Facebook" width="30" height="30"></a>
        <a href="https://www.twitter.com" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="Twitter" width="30" height="30"></a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" width="30" height="30"></a>
        <p>Dirección: <strong>Calle Falsa 123, Ciudad, País</strong></p>
        <p>Email: <strong>soporte@gocine.com</strong></p> 
        <p>Horario de atención: <strong>Lunes a Viernes, 9:00 AM - 6:00 PM</strong></p>
    </div>
    <div class="piePagina-content">
        <h3>&copy; <strong>GOCINE. Todos los derechos reservados.</strong></h3>
    </div>
</footer>